$maxWidthContainer: 1440px; // ширина контейнера с учетом padding слева и справа

$mainOffset: 15; // отступы безопасности для контейнера
$mainFont: "Inter"; // !указать здесь основное семейство шрифта
$mainWeight: 400; // !указать здесь основное начертание шрифта

$white: #ffffff;
$black: #000000;
$lightGray: #bbbbbb;
$blue: #40bbcd;

$firstAccentColor: $black;

$paddingDesk: 115px;

$fontFamily: $mainFont, sans-serif; // Семейство шрифта по умолчанию
$fontColor: $black; // Цвет шрифта по умолчанию
$fontSize: 24px; // Размер шрифта по умолчанию
$lineHeight: 29px; // Интерлиньяж по умолчанию
$fontWeight: $mainWeight; // Жирность шрифта по умолчанию

$standartTrans: all 280ms ease-in-out 0ms;

$btnBoxShadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);

$lightBoxShadow: 0 0 2px 0 rgba(#000, 10%), 0 0 4px 0 rgba(#000, 10%), 0 0 8px 0 rgba(#000, 10%);

$hoverBoxShadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%), 0 0 15px 0 rgba(#000, 10%);
